.subMenu{

    .title{
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        color: #203e9e;
    }
    .CTextColor{
        font-size: large;
    }
    .AddNewBtn{
        color:#203e9e;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
    }
    .AddNewBtn:hover{
        text-decoration:underline;
    }
}
